<section class="containerLogin">
  <a href="https://imgbb.com/"><img src="https://i.ibb.co/qj1drH3/LOGO.png" /></a>

    <div class="inputsCont">
      <div>
        <p>Nome Completo</p>
        <input class="inputPadrao" type="text" [(ngModel)]="modelo.nome" placeholder="">
      </div>
      <div>
        <p>Email</p>
        <input class="inputPadrao" type="email" [(ngModel)]="modelo.email" placeholder="Email">
      </div>
      <div>
        <p>Data de Nascimento</p>
        <input class="inputPadrao" type="date" [(ngModel)]="modelo.data" placeholder="Data de Nascimento">
      </div>
      <div>
        <p>CPF</p>
        <input class="inputPadrao" type="text" [(ngModel)]="modelo.cpf" placeholder="CPF">
      </div>
      <div>
        <p>Senha</p>
        <input class="inputPadrao" type="email" [(ngModel)]="modelo.senha" placeholder="Senha">
      </div>
    </div>
    <div>
      <app-button-lo tipo="button" (click)="registrar()" textButton="CONCLUIR"></app-button-lo>
      <app-button-lo routerLink="/" textButton="VOLTAR AO LOGIN"></app-button-lo>
    </div>

</section>
