<section class="containerLogin">
    <a href="https://imgbb.com/"><img src="https://i.ibb.co/qj1drH3/LOGO.png"/></a>
    <div class="inputsCont">
      <app-input-login idInput="Nome" tipoDeTexto="Nome Completo"></app-input-login>
      <app-input-login idInput="idade" tipoDeTexto="Idade"></app-input-login>
      <app-input-login idInput="CEP" tipoDeTexto="CEP"></app-input-login>
      <app-input-login idInput="email" ></app-input-login>
      <app-input-login ModelPegar="senha" idInput="senha" tipoDeTexto="Senha"></app-input-login>
      <app-input-login idInput="Confsenha" tipoDeTexto="Confirmação de Senha"></app-input-login>
    </div>  
    <app-button-lo textButton="CONCLUIR"></app-button-lo>
    <app-button-lo routerLink="/login" textButton="VOLTAR AO LOGIN"></app-button-lo>
  </section>