<section class="containerLogin">
  <div>
    <a href=""><img src="https://i.ibb.co/qj1drH3/LOGO.png" /></a>
  </div>
  <div class="refPonto">
    <app-button-lo (click)="gerarRelatorio();" textButton="GERAR RELATORIO"></app-button-lo>
  </div>

  <div>
    <table>
      <tr>
        <th>LOCAL: </th>
        <th>DENUNCIAS: </th>
      </tr>
      <tr>
        <td>RUA TANAAN</td>
        <td>2</td>
      </tr>
      <tr>
        <td>RUA TANAAN</td>
        <td>3</td>
      </tr>
    </table>
  </div>
</section>
