<section class="containerLogin">
  <div>
    <a href=""><img src="https://i.ibb.co/qj1drH3/LOGO.png" /></a>
  </div>
  <div class="refPonto">
    <app-button-lo routerLink="/dashboard" textButton="VOLTAR"></app-button-lo>
    <app-button-lo (click)="gerarRelatorio();" textButton="GERAR RELATORIO"></app-button-lo>
  </div>

<div class="tituloFlex">
  <div>
    <p>LOCAL  |  DENUNCIAS</p>
  </div>
</div>


  <div class="containerFlex">
      <div *ngFor="let linha of list">
        <h2>{{ linha }}</h2>
      </div>
  </div>
</section>
